version: '3'
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    env_file: 
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

 
  backend_rds:
    container_name: backend_rds-99
    build:
      context: ./backend_rds
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file: 
      - .env

volumes:
  postgres_data:
